.button {
  min-width: 100px;
  width: fit-content;
  min-height: 40px;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow-base);
  color: var(--secondary-text-color);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--text-color);
  box-shadow: var(--box-shadow-active);
}

.button:disabled {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.6;
}
