.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow-base);
}

.wrapper:not(:last-child) {
  border-bottom: 1px solid var(--secondary-bg-color);
}

.chatContent {
  display: flex;
  gap: 10px;
  align-items: center;
}

.chatDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.chatName {
  display: flex;
  gap: 5px;
  font-weight: bold;
  font-size: medium;
}

.addChatButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--success-color);
  color: var(--secondary-text-color);
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius);
}
