.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modalContent {
  text-align: center;
}

.controlButtons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.confirmButton {
  background-color: var(--error-color);
}

.cancelButton {
  background-color: var(--success-color);
}
