.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow-base);
  cursor: pointer;
  position: relative;
}

.wrapper:not(:last-child) {
  border-bottom: 1px solid var(--secondary-bg-color);
}

.chatContent {
  display: flex;
  gap: 10px;
  align-items: center;
}

.chatDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.chatName {
  display: flex;
  gap: 5px;
  font-weight: bold;
  font-size: medium;
}

.chatMessage {
  font-size: small;
}

.chatTimestamp {
  font-size: small;
  font-style: italic;
  opacity: 0.5;
}

.deleteButton {
  position: absolute;
  left: 0;
  top: 0;
  color: var(--error-color);
  cursor: pointer;
  background-color: transparent;
}

.unreadMessageCount {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: var(--success-color);
  color: white;
  font-size: small;
  padding: 3px 5px;
  border-radius: 50%;
  font-weight: bold;
  min-width: 20px;
  text-align: center;
}
