.label {
  width: 100%;
  display: block;
  margin-top: auto;
  padding: 0 10px;
  position: relative;
}

.input {
  width: 100%;
  padding: 10px;
  padding-right: 30px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  transition: var(--transition);
  background-color: var(--bg-color);
  width: 100%;
}

.input:focus-within {
  border-color: var(--accent-color);
}

.sendButton {
  position: absolute;
  top: 8px;
  right: 15px;
  color: var(--primary-color);
  transition: var(--transition);
  background-color: transparent;
}

.sendButton:hover,
.sendButton:focus {
  color: var(--accent-color);
}
