.wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 80%;
  font-size: var(--font-size-small);
}

.messageContentWrapper {
  display: flex;
  align-items: start;
  gap: 10px;
}

.messageContent {
  padding: 15px;
  background-color: var(--primary-color);
  border-radius: 30px;
  width: fit-content;
  text-align: left;
  color: var(--secondary-text-color);
  box-shadow: var(--box-shadow-base);
}

.messageDate {
  text-align: end;
  font-size: small;
  font-style: italic;
  opacity: 0.5;
}

.myMessage {
  margin-left: auto;
}

.myMessage .messageContent {
  background-color: var(--secondary-bg-color);
}
